
/* --SCROLLBAR-- */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3B71FE;
  }
  